<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Video Upload</title>
</head>
<body>
    <h1>EventScreen</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="uploadform">
            <div>
                <input type="file" name="file" accept="video/*" required>
            </div>
            <div>
                <button type="submit">Upload</button>
            <div/>
        </div>
    </form>
</body>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/static/service-worker.js').then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>
</html>
